<div class="container">
    <mat-card class="pay-card-container mat-elevation-z4">
        <mat-card-title>
            Novo Produto
        </mat-card-title>
        <form>
            <mat-form-field>
                <input matInput placeholder="Nome do jogo" [(ngModel)]="jogo.nome" name="nome">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Preço (R$)" [(ngModel)]="jogo.preco" name="preco">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Quantidade" [(ngModel)]="jogo.quantidade" name="quantidade">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Descrição" [(ngModel)]="jogo.descricao" name="descricao">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Gêreno" [(ngModel)]="jogo.cod_genero" name="genero">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Espaço de armazemamento" [(ngModel)]="jogo.espaco_arm" name="espaco">
            </mat-form-field>
            <button mat-raised-button (click)="createJogo()" color="accent">
                SALVAR
            </button>
            <button mat-raised-button (click)="cancel()" color="warn">
                CANCELAR
            </button>
        </form>
    </mat-card>
</div>