.error-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 50%;
    height: 50%;
}

p {
    font-size: 30px;
    font-weight: bold;
    color: #f28705;
    margin: 2em 0em;
}