div.welcome-wrapper {
    width: 100%;
    height: 100vh;
    background-color: #151d27;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 50%;
}

button {
    padding: 10px 20px;
    background-color: transparent;
    color: #f28705;
    border: 1px solid #f28705;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    margin: 50px 0px;
    transition: .3s ease-in-out;
}

button:hover {
    background-color: #f28705;
    color: #212121;
    cursor: pointer;
    transform: translateY(-10px);
}

#fotos {
    flex-direction: row;
    flex-wrap: wrap;
}

#fotos h2 {
    width: 100%;
    text-align: center;
}

#fotos img {
    width: 33.3333333%;
}
