<div class="cadastroUsuario">
    <div class="formCadastro">
        <h2>Create account</h2>

        <form action="">
            <input [(ngModel)]="cadastroUsuario.nome" name="nome" type="text" placeholder="Nome">
            
            <input [(ngModel)]="cadastroUsuario.cpf" name="cpf" type="text" placeholder="CPF">

            <input [(ngModel)]="cadastroUsuario.usuario" name="usuario" type="text" placeholder="Username">
            
            <input [(ngModel)]="cadastroUsuario.email" name="email" type="email" placeholder="E-mail">
            
            <input [(ngModel)]="cadastroUsuario.senha" name="senha" type="password" placeholder="Password">

            <input [(ngModel)]="cadastroUsuario.confirmarSenha" name="confrimarSenha" type="password" placeholder="Confirm your Password">

            <p id="avisoCadastro" *ngIf="!senhasIguais">Confirmar senha Precisa ser igual senha</p>

            <button (click)="saveCadastroUsuario()">Create</button>

            <p>already have an account ? <a href="/login">Sign in</a></p>
        </form>
    </div>
    <div id="ImgCadastro">
        <div class="item" id="item-1">
            <p>Cadastre-se</p>
            <p>Curta todos os jogos do nosso catalogo</p>
        </div>
    </div>
</div>