.cadastroUsuario {
    display: flex;
    min-height: 100vh;
    background-image: url("../../../assets/img/bg_create_account.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.cadastroUsuario .formCadastro {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #151d27;
    opacity: 0.96;
    /* padding: 30px 10px; */
    /* border: 1px solid red; */
    width: 100%;
}

.cadastroUsuario .formCadastro form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
}

form>h2 {
    font-size: 40px;
    color: #fff;
}

.cadastroUsuario .formCadastro input {
    width: 100%;
    font-size: 18px;
    margin: 10px 0px;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: #fff;
}

.cadastroUsuario .formCadastro input::placeholder {
    color: white;
}

.cadastroUsuario .formCadastro button {
    width: 50%;
    border-radius: 5px;
    margin: 20px 0px;
    background-color: transparent;
    color: #ffa500;
    border: 1px solid #ffa500;
    padding: 10px;
    transition: .3s;
}

.cadastroUsuario .formCadastro button:hover {
    background-color: #ffa500;
    color: #000;
}

.cadastroUsuario .formCadastro p {
    margin: 0 auto;
    color: white;
}

.cadastroUsuario .formCadastro a {
    text-decoration: none;
    color: #ffa500;
    margin: 0px 5px;
}

#ImgCadastro {
    flex: 0.7;
}

#ImgCadastro #item-1 {
    /* flex-direction: column;
    background-image: url("../../../assets/img/bg_create_account.jpg");
    background-repeat: no-repeat;
    /* background-size: 1000px 600px; */
    /* background-position: center;
    background-color: black; */
}

#ImgCadastro #item-1 p {
    font-size: 20px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

#ImgCadastro .item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 80vh;
}

@media (max-width: 1000px) {
    .cadastroUsuario .formCadastro {
        width: 60%;
    }
}

@media (max-width: 750px) {
    #ImgCadastro {
        visibility: hidden;
        width: 0;
    }
    .cadastroUsuario .formulario {
        width: 100%;
    }
}

#avisoCadastro {
    color: red;
    margin-bottom: 10px;
}
