/* .home-page {

} */

.container-principal {
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    padding: 10px;
    min-height: 100vh;
    background-color: #C4C4C4;
}

.home-sidebar {
    border: 1px solid yellow;
}

.home-content {
    display: flex;
    flex-direction: column;
    border: 1px solid brown;
    width: 100%;
}

.carousel {
    display: flex;
    flex-direction: column;
}

.carousel-img {
    width: 700px;
}

.generos {
    border: 1px solid red;
    background-color: #DDDDDD;
    width: 200px;
    height: 500px;
    margin-right: 15px;
}

li {
    text-decoration: none;
    list-style-type: none;
}