.home-page {
    background-color: #C4C4C4;

}

.container-principal {
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    /* align-content: center;
    justify-content: center; */
    padding: 10px;
    min-height: 100vh;
 
}

.carousel {
    display: flex;
    flex-direction: column;
}

.carousel-img{
    width: 700px;
}

.generos {
    border: 1px solid red;
    background-color: #DDDDDD;
    width: 200px;
    height: 500px;
    margin-right: 15px;
}

li {
    text-decoration: none;
    list-style-type: none;
}

