<div class="home-page">

<div class="container-principal">

    <div class="card-generos">

        <div class="titulo">
            <h4>CATEGORIAS</h4> 
        </div>
        <div class="categorias">
            <ul>
                <li><a href="">genero</a></li>
                <li><a href="">genero</a></li>
                <li><a href="">genero</a></li>
                <li><a href="">genero</a></li>
                <li><a href="">genero</a></li>
            </ul>
        </div>
    </div>

    <div class="carousel">
        <div class="carousel-img"><app-carrousel-teste ></app-carrousel-teste></div>
        <div>carousel2</div>
    </div>

</div>

</div>

