<div class="container">
    <mat-card class="home mat-elevation-z3">
        <mat-card-title class="generos">
           Gêneros
        </mat-card-title>
        <mat-card-subtitle class="">
            <ul>
                <li>Ação</li>
                <li>Aventura</li>
                <li></li>
                <li>1</li>
                <li>1</li>
                <li>1</li>
                <li>1</li>  
            </ul>
        </mat-card-subtitle>
    </mat-card>
    
    <div class="carrossel"> 
        <app-carrousel-teste></app-carrousel-teste>
    </div>
    <div>
        carrossel dois com botão
    </div>
    
    </div>