<div class="container-principal">
    <div class="sidebar">
        <div class="titulo">
            <h4>Menu</h4>
        </div>
        <div class="sidebar-items">
            <a routerLink="/home">
                <mat-icon class="mat-18">home</mat-icon>
                Início
            </a>
            <a routerLink="/home">
                <mat-icon class="mat-18">account_circle</mat-icon>
                Meu perfil
            </a>
            <a routerLink="/home">
                <mat-icon class="mat-18">dashboard</mat-icon>
                Meus jogos
            </a>
            <a routerLink="/pedidos">
                <mat-icon class="mat-18">article</mat-icon>
                Pedidos
            </a>
            <a routerLink="/home">
                <mat-icon class="mat-18">favorite</mat-icon>
                Favoritos
            </a>
            <button (click)="logout()">Sair</button>
        </div>
    </div>

    <div class="carousel">
        <div class="carousel-img">
            <app-carrousel-teste></app-carrousel-teste>
        </div>
        <app-barrapesquisa class="pesquisar"></app-barrapesquisa>
        <app-card-slider></app-card-slider>
        <app-featured-game></app-featured-game>
        <app-card-slider></app-card-slider>
        <app-featured-game></app-featured-game>
        <app-card-slider></app-card-slider>
    </div>
</div>