/* PAGINA INICIAL */
* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

.cabecalho p {
  color: #fff;
  text-align: center;
}

.cabecalho {
  margin: 0;
  background-color: #000;
  width: 100%;
  height: 20px;
}

.cabecalho-nav {
  margin: 0;
  border: 1px solid #fff;
  background-color: #000;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.menu-hamburguer {
  color: #fff;
  border: 1px solid #fff;
}

.logo {
  color: #fff;
  border: 1px solid #fff;
}

.usuario {
  color: #fff;
  border: 1px solid #fff;
}

/* LOGIN */
