<div class="pay-page">
    <mat-card class="pay-card-container mat-elevation-z4">
        <form>
            <mat-form-field>
                <mat-label>Número do cartão</mat-label>
                <div class="mat-form-field-content">
                    <fa-icon [icon]="faCreditCard" class="icon"></fa-icon>
                    <input name="frontCard" matInput [(ngModel)]="numeroCartao">
                </div>
            </mat-form-field>


            <mat-form-field>
                <mat-label>Nome no cartão</mat-label>
                <div class="mat-form-field-content">
                    <fa-icon [icon]="faUserCircle" class="icon"></fa-icon>
                    <input name="nameCard" matInput>
                </div>
            </mat-form-field>


            <mat-form-field>
                <mat-label>Validade</mat-label>
                <div class="mat-form-field-content">
                    <fa-icon [icon]="faCalendarAlt" class="icon"></fa-icon>
                    <input name="validCard" matInput>
                </div>
            </mat-form-field>


            <mat-form-field>
                <mat-label>CVV</mat-label>
                <div class="mat-form-field-content">
                    <fa-icon [icon]="faCreditCard" class="icon"></fa-icon>
                    <input name="cvv" matInput>
                </div>
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>Selecione as parcelas</mat-label>
                <mat-select>
                    <mat-option *ngFor="let parcela of parcelas" [value]="parcela.value">{{ parcela.value }}x de R$ {{ 10 * parcela.value }},00</mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button class="pay-button" (click)="showNumeroCartao()">Pagar</button>
        </form>
    </mat-card>
    <h2 class="title">Page com o boleto via internet banking com o código abaixo</h2>
    <p class="numero-boleto">{{ numeroBoleto }}</p>
    <h2 class="title">Ou imprima o boleto abaixo e pague em uma agência bancária.</h2>
    <button mat-raised-button class="imprimir-button">
      <!-- <span>Imprimir boleto</span> -->
      <fa-icon [icon]="faBarcode"></fa-icon>
    </button>
</div>