<ngb-carousel class="carrousel">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="./../../../assets/img/starwars.png" alt="Random first slide">
        </div>
        <div class="carousel-caption">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="./../../../assets/img/detiny2.png" alt="Random second slide">
        </div>
        <div class="carousel-caption">

        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="./../../../assets/img/tombraider1.png.jpg" alt="Random third slide">
        </div>
        <div class="carousel-caption">

        </div>
    </ng-template>
</ngb-carousel>