#perfil {
    width: 100%;
    min-height: 100vh;
    background-color: #151d27;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;
}

mat-expansion-panel {
    width: 100%;
    height: auto;
    margin: 20px;
    background-color: #ddd;
    color: #fff;
}

mat-panel-title {
    font-size: 20px;
}

#perfil #AtualizarPerfil {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#perfil #AtualizarPerfil form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#perfil #AtualizarPerfil input {
    height: 30px;
    width: 80%;
    margin: 0 auto 20px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 0;
}

#perfil #AtualizarPerfil button {
    height: 40px;
    border-radius: 3px;
    border-color: orange;
    width: 50%;
    margin: 0 auto 20px;
    background-color: #ffa500;
    color: white;
}

#perfil #meusJogosPerfil {
    margin: 10px;
}
