<div id="perfil">
    <div id="AtualizarPerfil">
        <h2>Minhas Informações</h2>

        <form action="">
            <input id="inputAtualizarNome" [(ngModel)]="atualizarPerfil.nome" name="nome" type="text" placeholder="Nome" >

            <input id="inputAtualizarCPF" [(ngModel)]="atualizarPerfil.cpf" name="cpf" type="text" placeholder="CPF" >

            <input id="inputAtualizarUsuario" [(ngModel)]="atualizarPerfil.usuario" name="usuario" type="text" placeholder="Username" >

            <input id="inputAtualizarEmail" [(ngModel)]="atualizarPerfil.email" name="email" type="email" placeholder="E-mail" >
        </form>
        <button (click)="AtualizarUsuario()" >Atualizar </button>
    </div>

    <div>
        <h2>Meus Jogos</h2>

        <app-card></app-card>
    </div>
</div>