<div class="card-wrapper">
    <mat-card class="card-wrapper-item" *ngFor="let game of games">
        <img matCardImage [src]="game.imageUrl" alt="imagem jogo">
        <mat-card-header class="flex-display-center">
            <mat-card-title class="text-align-center">{{ game.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-align-center">
            Preço(R$)
        </mat-card-content>
        <mat-card-actions class="button-wrapper">
            <button mat-fab class="flex-display-center">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-fab class="flex-display-center">
              <mat-icon>shopping_cart</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
