.card-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-wrapper>.card-wrapper-item {
    background-color: #4d4c55;
    color: #fff;
    width: 23%;
    margin: 10px;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.btn-favorite,
.btn-comprar {
    border: none;
    padding: 5px;
    margin: 0px 2px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-favorite {
    flex: 0.2;
    width: 100%;
    background-color: #4d4c55;
    color: #fff;
    border-radius: 5px;
}

.btn-comprar {
    flex: 0.8;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    background-color: #4d4c55;
}

.btn-comprar:hover {
    background-color: #9d5d10;
    border: 1px solid #9d5d10;
    cursor: pointer;
    color: #fff;
}


/* .button-wrapper button {
    transition: .4s ease-in-out;
    background-color: #85827f;
} */

.flex-display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card-header {
    /* background-color: blue; */
    display: flex;
    min-height: 70px;
}

mat-card-content {
    border: 1px solid #9d5d10;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    transition: .3s ease-in-out;
}

mat-card-content:hover {
    font-weight: bold;
    cursor: pointer;
    background-color: #9d5d10;
}

.text-align-center {
    text-align: center;
}
