 .example-form {
    min-width: 150px;
    max-width: 150px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    
  } 

  .botao {
    border-radius: 4px;
    background-color: #DDDDDD;
  
  }