mat-card {
  background-color: black;
  opacity: 0.5;
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  max-height: 600px;
}

.login {
  font-size: 3vw;

}

form {
  display: flex;
  flex-direction: column;
}

button {
  color: blue;
  margin-top: 20px;
  margin-right: 15px;
}
