<div class="login-wrapper">
    <form class="formulario">
        <a routerLink="/home" class="logo">
            <img src="../../../../assets/img/AVAGAMES-logo.png" alt="Logo da Avagames">
        </a>
        <mat-form-field>
            <input matInput placeholder="E-mail:" [(ngModel)]="credentials.email" name="email">
        </mat-form-field>
        <mat-form-field>
            <input type='password' matInput placeholder="Senha:" [(ngModel)]="credentials.senha" name="senha">
        </mat-form-field>

        <button mat-raised-button type="submit" (click)="login()">
      Login
    </button>
        <nav>
            <ul>
                <li>
                    <p>Ainda não tem conta?</p>
                </li>
                <li><a routerLink="/cadastroUsuario">Cadastre-se</a></li>
            </ul>
        </nav>
    </form>
</div>
