<div class="container">
<mat-card>  
    <form [formGroup]="form" (submit)="submit()">
        <a routerLink="/home" class="logo">
            <img src="../../../../assets/img/AVAGAMES-logo.png" alt="Logo da Avagames">
        </a>
        <mat-card-title>Login 
        </mat-card-title>
        <mat-form-field>
            <input matInput placeholder="E-mail:" forControlName="email" [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Senha:" forControlName="senha" [(ngModel)]="senha">
        </mat-form-field>
    </form>
    <button mat-raised-button  type="submit">
        Login
    </button>
    <!-- <div class="cadastrar">
        <p>Ainda não tem conta?</p>
        <a class="cadastre" routerLink="">Cadastre-se</a>
    </div> -->
    <nav>
        <ul>
            <li><p >Ainda não tem conta?</p></li>
            <li><a routerLink="" >Cadastre-se</a></li>
        </ul>
    </nav>
</mat-card>
</div>
