<div class="mat-elevation-z6 container_table">
    <table mat-table [dataSource]="jogos" class="full-width-table">

        <ng-container matColumnDef="id">
            <th class="titulo" mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <ng-container matColumnDef="nome">
            <th class="titulo" mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let row">{{row.nome}}</td>
        </ng-container>

        <ng-container matColumnDef="preco">
            <th class="titulo" mat-header-cell *matHeaderCellDef>Preço</th>
            <td mat-cell *matCellDef="let row">{{row.preco | currency: 'BRL' }}</td>
        </ng-container>

        <ng-container matColumnDef="espaco_arm">
            <th class="titulo" mat-header-cell *matHeaderCellDef>Espaço de armazenamento</th>
            <td mat-cell *matCellDef="let row">{{row.espaco_arm}}</td>
        </ng-container>

        <ng-container matColumnDef="genero">
            <th class="titulo" mat-header-cell *matHeaderCellDef>Gênero</th>
            <td mat-cell *matCellDef="let row">{{row.genero}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th class="titulo coluna" mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let row">
                <a routerLink="/jogos/update/{{ row.id }}" class="edit">
                    <i class="material-icons icon">
                      edit
                  </i>
                </a>
                <a routerLink="/jogos/delete/{{ row.id }}" class="delete">
                    <i class="material-icons icon">
                      delete
                  </i>
                </a>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
