<div class="mat-elevation-z6 container_table">
    <table mat-table [dataSource]="usuarios" class="full-width-table">

        <ng-container matColumnDef="id">
            <th class="titulo" mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <ng-container matColumnDef="nome">
            <th class="titulo" mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let row">{{row.nome}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th class="titulo" mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let row">{{row.email }}</td>
        </ng-container>

        <ng-container matColumnDef="cpf">
            <th class="titulo" mat-header-cell *matHeaderCellDef>CPF</th>
            <td mat-cell *matCellDef="let row">{{row.cpf}}</td>
        </ng-container>

        <ng-container matColumnDef="ativo">
            <th class="titulo" mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let row">
                <mat-icon class="mat-18" *ngIf="row.ativo">done</mat-icon>
                <mat-icon class="mat-18" *ngIf="!row.ativo">close</mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th class="titulo coluna" mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let row">
                <button mat-fab color="warn" class="delete" (click)="disableById(row.id)">
                <i class="material-icons icon">
                    delete
                </i>
            </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
