mat-card {
    background-color: #9f9f9f;
    width: 30%;
    height: 800px;
  }
  
  mat-form-field {
    font-size: 14px;
  }
  
  .container {
    background-position: center;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0px;
  }
  
  mat-card-title {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 3vw;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 40px;
  }
  
  .logo img {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 160px;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .aLink {
    color: white;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
  }
  
  button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    color: white;
    margin-top: 30px;
    background-color: #f28705;
  }
  
  nav ul {
    list-style: none;
    margin-top: 20px;
  }
  
  nav ul li {
    display: inline-block;
    padding: 10px;
  }
  
  nav ul li a:after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f28705;
    display: block;
    transition: 0.5s;
  }
  
  nav ul li:hover a:after {
    width: 100%;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
  }
  
  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  }
  
  ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #f28705 !important;
    ;
  }
  
  @media (max-width: 575px) {
  
    mat-card {
      width: 100%;
    }
  
    mat-card-title {
      font-size: 43px;
    }
  }
  
  @media (max-width: 768px) {
  
    mat-card {
      width: 100%;
    }
  
    mat-card-title {
      font-size: 43px;
    }
  }
  
  @media (max-width: 979px) {
  
    mat-card {
  
      width: 100%;
    }
  
    button {
      align-content: center;
    }
  
  }
  