a {
<<<<<<< HEAD
  cursor: pointer;
  text-decoration: none;
  color: #fff;
=======
    cursor: pointer;
    text-decoration: none;
    color:#fff;
>>>>>>> 364474225c1ae6d283e78252842d414b7841c882
}

.header {
  height: auto;
  background-color: #212121;
  display: flex;
  justify-content: space-between;
}

.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .logo img {
  height: 64px;
}

.header .nav-item-container {
  display: flex;
}

.header .nav-item-container>a {
  margin: 0px 10px;
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
  }

  .header .logo img {
    height: 80px;
  }

  .header .nav-item-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header .nav-item-container>a {
    margin: 10px;
  }
}
