a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.header {
    height: auto;
    background-color: #151d27;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #1d2631;
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 30%)
}

.header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo img {
    height: 64px;
}

.header .nav-item-container {
    display: flex;
}

.header .nav-item-container>a {
    margin: 0px 10px;
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
    }
    .header .logo img {
        height: 80px;
    }
    .header .nav-item-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header .nav-item-container>a {
        margin: 10px;
    }
}
